{% extends 'layouts/base.html' %}

{% import 'macros/form_fields.html' as fields %}


{% block head %}
    <link rel="stylesheet" href="/static/css/macros/form_fields.css">
    <link rel="stylesheet" href="/static/css/auth/auth.css">
{% endblock %}



{% block content %}
    <div class="auth-wrapper">
        <div class="auth-form">
            <h1 class="auth-form__header">Вход</h1>
    
            <form class="auth-form__form" id="authForm" method="post">
                {{ fields.input(label="Логин", id="login", name="login", placeholder="Логин", required=True) }}
                {{ fields.input(label="Пароль", id="password", name="password", placeholder="Пароль", type="password", required=True) }}
            </form>
            
            <button class="auth-form__confirm-button accent" form="authForm">Войти</button>
        </div>
    </div>
{% endblock %}
